$basicFontSize: 12px;
$gray: #f5f5f5;
$blue: #4994F2;

body, html {
    margin: 0;
    padding: 0;
    color: #606266;
    font-size: $basicFontSize;
    -webkit-font-smoothing: antialiased;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

a {
    text-decoration: none;
}

//公用设置
.color-blue {
    color: $blue;
}

.color-red {
    color: #F2545A;
}

.mar-b-15 {
    margin-bottom: 15px;
}

.mar-r-15 {
    margin-right: 15px;
}

.mar-t-15 {
    margin-top: 15px;
}

.mar-l-15 {
    margin-left: 15px;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-left {
    text-align: left;
}

.bg-gray {
    background-color: $gray;
}

.font-basic {
    font-size: $basicFontSize;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.wid-300 {
    width: 300px;
    margin-right: 20px;
}

//翻页动画
.page-enter-active,
.page-leave-active {
    transition: opacity 0.1s;
}

.page-enter,
.page-leave-active {
    opacity: 0;
}

//布局设置
.jr, .jr-KnowledgeTree-dialog {
    //公用menu组件
    .jr-nav {
        //border: 1px solid green;
    }

    //设定内容块最小宽度
    .jr-container {
        min-width: 1100px;

        //公用头部组件
        .jr-header {
            //border: 1px solid red;
        }

        //默认layout调整
        .jr-main {
            padding-top: 0;
        }

        //空白layout调整
        .jr-main-blankness {
            margin: 0;
            padding: 0;
        }
    }

    /*筛选框*/
    .jr-filter-form {
        //修改字体大小
        .el-form-item__label,
        .el-form-item__content,
        .el-select-dropdown__item,
        .el-checkbox__label,
        .el-radio__label,
        .el-checkbox__inner,
        .el-input__inner,
        .el-link--inner,
        .el-cascader-node__label,
        .el-cascader__search-input::placeholder {
            font-size: $basicFontSize;
        }

        .el-date-editor--daterange.el-input__inner,
        .el-select,
        .el-date-editor.el-input,
        .el-cascader {
            width: 100%;
        }

        //调整间距
        .el-form-item {
            margin-bottom: 15px;
        }

    }

    //二级菜单
    .jr-subtitle {
        margin: 0;
        padding: 20px 0 15px;
    }

    //树
    .jr-tree {
        .el-tree-node {
            .el-tree-node__label {
                font-size: 12px;
            }

            .is-leaf + .el-checkbox .el-checkbox__inner {
                display: inline-block;
            }

            .el-checkbox .el-checkbox__inner {
                display: none;
            }
        }
    }

    //标签
    .jr-tag {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .jr-tag-item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 28px;
            padding: 0 13px;
            color: #9F9F9F;
            font-size: 12px;
            background-color: #F1F1F1;
            border-radius: 4px;

            .icon {
                cursor: pointer;
                margin-left: 5px;
            }

            &.active {
                background-color: #DFEDFF;
                color: #4994F2;
            }
        }

        &.hover {
            .jr-tag-item {
                cursor: pointer;
            }
        }

        &.disabled {
            .jr-tag-item {
                cursor: not-allowed;

                .icon {
                    cursor: not-allowed;
                }
            }
        }

    }

    //小箭头
    .el-icon-arrow-up {
        margin-left: 0;
    }
}
