$basicFontSize: 12px;
$gray: #f5f5f5;
$blue: #4994F2;


body, html {
    width: 100%;
    margin: 0;
    padding: 0;
    color: #606266;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

body {
    font-size: $basicFontSize;
    -webkit-font-smoothing: antialiased;
    font-family: arial, sans-serif;
}

//公用设置
.c-font_basic {
    font-size: $basicFontSize;
}

.c-color_blue {
    color: $blue;
}


//布局设置
.crm {
    //公用menu组件
    .crm-nav {
        //border: 1px solid green;
    }

    //设定内容块最小宽度
    .crm-container {
        min-width: 1100px;

        //公用头部组件
        .crm-header {
            //border: 1px solid red;
        }

        //默认layout调整
        .crm-main {
            padding-top: 0;
            //border: 1px solid blue;
        }

        //空白layout调整
        .crm-main-blankness {
            margin: 0;
            padding: 0;
        }
    }

    /*筛选框*/
    .crm-filter-box {
        background-color: #fafafa;
        border-radius: 4px;
        padding: 15px 15px 0;

        /*标题*/
        .crm-filter-title {
            padding-bottom: 13px;
            font-size: 14px;
            font-weight: bolder;
            color: #333;
        }

        /*表单*/
        .crm-filter-form {
            //修改字体大小
            .el-form-item__label,
            .el-form-item__content,
            .el-select-dropdown__item,
            .el-checkbox__label,
            .el-radio__label,
            .el-checkbox__inner {
                font-size: $basicFontSize;
                font-weight: normal;
            }

            .el-date-editor--daterange.el-input__inner,
            .el-select,
            .el-date-editor.el-input,
            .el-cascader {
                width: 100%;
            }


            //调整间距
            .el-form-item {
                margin-bottom: 15px;
            }

        }
    }

    /*table*/
    .crm-table {
        /*border: 1px solid red;*/
        width: 100%;
        border-left: 1px solid #EBEEF5;
        border-top: 1px solid #EBEEF5;
        border-right: 1px solid #EBEEF5;

        .crm-table_cell {

        }

        .crm-table_header {
            font-size: 12px;
            color: #333;
            font-weight: bolder;
            background-color: #fafafa;
        }
    }

    /*分页信息*/
    .crm-pagination-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        justify-content: flex-end;

        .el-pagination button, .el-pagination span:not([class*=suffix]) {
            /*font-size: 12px;*/
        }
    }

    //tabs
    .crm-tabs {
        .el-tabs--card > .el-tabs__header {
            border: none;
        }

        .el-tabs--card > .el-tabs__header .el-tabs__nav {
            border: 1px solid transparent;
        }

        .el-tabs--card > .el-tabs__header .el-tabs__item {
            border: 1px solid transparent;
            font-size: 11px;
        }

        .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
            background-color: #fafafa;
        }

        .el-tabs__header {
            margin-bottom: 0;
        }

        .el-tabs__content {
            background-color: #fafafa;
            padding-top: 15px;
        }

        .el-timeline {
            font-size: 11px;
        }
    }
}

//下拉框字体修改
.el-select-dropdown__item {
    font-size: $basicFontSize;
}
